@import 'vars.scss';


/* BUTTONS */
.btn {
    border-radius: 5px;
    border: none;
    padding: 1rem 3rem;
    font-weight: 700;
    transition: all .5s;

    &.btn-primary {
        color: $btn-color-primary;
        background-color: $btn-bg-primary;
    }

    &.btn-secondary {
        color: $btn-color-secondary;
        background-color: $btn-bg-secondary;
        box-shadow: 0 0 0 2px $main-border inset;

        &:hover {
            color: $btn-color-secondary-hover;
            box-shadow: none;
        }
    }

    &:hover {
        background-color: $btn-bg-primary-hover;
        cursor: pointer;
    }
}