/* COLORS */
$main: #333333;
$secondary: #20ad96;
$secondary-hover: #3f3a64;
$tertiary: #79797a;

$link: #3f3a64;

/* BACKGROUNDS */
$dropdown-hover: #eceeef;

$main-bg: #fff;
$secondary-bg: #f8f8f8;

/* BORDERS */
$main-border: #ecf2f9;