/* COLORS TEXT */
$main-text: #333333;
$secondary-text: #20ad96;
$tertiary-text: #79797a;

/* COLORS LINK */
$link-primary: #3f3a64;
$link-secondary: #20ad96;

/* COLORS BUTTON */
$btn-bg-primary: #20ad96;
$btn-bg-primary-hover: #3f3a64;
$btn-color-primary: #fff;
$btn-color-primary-hover: #fff;

$btn-bg-secondary: #fff;
$btn-color-secondary: #20ad96;
$btn-color-secondary-hover: #fff;

/* BACKGROUNDS */
$bg-jumbotron: #eff2f6;
$bg-section-type-1: #fff;
$bg-section-type-2: #f8f8f8;
$bg-video-section: #323043;

$dropdown-hover: #eceeef;

/* BORDERS */
$main-border: #ecf2f9;